//$logo: "{{ site.logo | absolute_url }}";
$color-scheme: "light";
//$theme: "./scss/color_schemes/#{$color-scheme}";
@import "support/support";
//@import $theme;
@import "modules";

.rules {
  h3 {
    font-weight: inherit;
    padding-top: $sp-5;
    padding-bottom: $sp-1;
    margin-top: 0;
    margin-bottom: 0;
  }

  h4 {
    text-transform: inherit;
    padding-left: $sp-4;
    letter-spacing: inherit;
    padding-top: $sp-5;
    padding-bottom: $sp-1;
    margin-top: 0;
    margin-bottom: 0;
    @include fs-4;
  }

  blockquote {
    font-style: italic;
  }

}

.anchor-highlight {
  background-color: lighten($link-color, 33);
  transition: background-color 1s linear;
}

.symbol-switch {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  margin: 1rem;

  .switch {
    margin-left: .5rem;
    @include fs-2;
  }

  @include mq(xs) {
    padding-bottom: 1em;
    @include fs-4;
  }

  @include mq(md) {
    padding-bottom: inherit;
    @include fs-2;
  }
}

.symbol {
  img {
    vertical-align: middle;
    height: 1.3rem;
  }

  span {
    display: none;
  }

  &.text {
    img {
      display: none;
    }

    span {
      display: inherit;
    }
  }
}

.card-img a { position:relative; }
.card-img a span { position:absolute; display:none; z-index:99; left:0; width: max-content;}
.card-img a::after {
  content: "";
  width: 11px;
  height: 11px;
  margin-left: 4px;
  background-image: url('/icons/external_link.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;

}
.card-img a:hover span { display:block; }
.card-img img { height: 250px;}