//$logo: "{{ site.logo | absolute_url }}";
$color-scheme: "light";
//$theme: "./scss/color_schemes/#{$color-scheme}";
@import "support/support";
//@import $theme;
@import "modules";

.rules {
  h3 {
    font-weight: inherit;
  }
  h4 {
    text-transform: inherit;
    margin-left: $sp-4;
    letter-spacing: inherit;
    @include fs-4
  }
  blockquote {
    font-style: italic;
  }
}