.rules {
  h3 {
    font-weight: inherit;
  }
  h3 span,
  h4 span {
    letter-spacing: 0.1em;
  }
  h4 {
    margin-left: $spacing-unit;
    text-transform: inherit;
    font-size: $font-size-5 !important;
    letter-spacing: inherit;
  }

  .example {
    font-style: italic;
  }
}