{% extends "layouts/default.html" %}
{% block content %}
    <h1>{{ page.title }}</h1>
    <hr/>
    <dl>
    {%-for entry in glossary | sort(attribute="term") %}
        {%- set term = entry.term %}
        {%- set term_anchor = entry.term | slug %}
        {%- set desc = entry.desc %}
        <dt id="{{ term_anchor }}">
            <a href="#{{ term_anchor }}" class="anchor-term" aria-labelledby="{{ term_anchor }}">
                <svg viewBox="0 0 16 16" aria-hidden="true">
                    <use xlink:href="#svg-link"></use>
                </svg>
            </a>
            {{ term }}
        </dt>
        <dd>
            {%- for text in desc %}
                {{ text | ref_rules }}
            {%- endfor %}
        </dd>
    {%-endfor %}
    </dl>
{% endblock %}