<hr/>
<small>
    <em>
        <p>
            Partes de Magic Judges BR são Conteúdo de Fã não oficial, permitido pela Política de Conteúdo de Fã da Wizards of the Coast.
        </p>
        <p>As informações literais e gráficas apresentadas neste site sobre Magic: The Gathering, incluindo cartas
             imagens, os símbolos de mana e o texto da Oracle são direitos autorais da Wizards of the Coast, LLC, uma subsidiária da Hasbro, Inc.
        </p>
        <p>Magic Judges BR não é produzido, endossado por, apoiado por ou afiliado à Wizards of the Coast.</p>
    </em>
</small>