<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <title>{{ page.title }} - {{ site.title }}</title>

    {% if page.description %}
        <meta name="Description" content="{{ page.description }}">
    {% endif %}

    <link rel="shortcut icon" href="{{ 'favicon.ico' }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' }}">

    {% if site.ga_tracking != nil %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracking }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', '{{ site.ga_tracking }}'{% if site.ga_tracking_anonymize_ip %}, {'anonymize_ip': true}{% endif %});
        </script>

    {% endif %}

    {% if site.search_enabled != false %}
        <script type="text/javascript" src="{{ '/assets/js/vendor/lunr.min.js' }}"></script>
        <script type="text/javascript" src="{{ '/assets/js/vendor/lunr.stemmer.support.js' }}"></script>
        <script type="text/javascript" src="{{ '/assets/js/vendor/lunr.pt.js' }}"></script>
    {% endif %}
    <script type="text/javascript" src="{{ '/assets/js/main.js' }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include "partials/head_custom.html" ignore missing %}

</head>